# (C) Martin V\"ath <martin at mvath.de>
# SPDX-License-Identifier: GPL-2.0-only
[Unit]
Description=Start kernel modules from openrc
DefaultDependencies=no
Before=firewall.service firewall-close.service network.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/bin/openrc-wrapper modules start

[Install]
WantedBy=sysinit.target
